<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tp.trip.dao.TbScenicCustomMapper" >
  <sql id="Base_Column_List" >
    s.id, s.scenic_linkman as scenicLinkman, s.scenic_tel as scenicTel, s.scenic_image as scenicImage,
     s.tid, s.state, s.created_time as createdTime, s.update_time as updateTime,
    u.username as username, s.price
  </sql>
  <sql id="Blob_Column_List" >
    s.scenic_name as scenicName, s.scenic_intro as scenicIntro, s.scenic_address AS scenicAddress
  </sql>

  <sql id="Base_Column_tour_List">
    s.id, s.scenic_linkman as scenicLinkman, s.scenic_tel as scenicTel, s.scenic_image as scenicImage,
    s.tid, s.state, s.created_time as createdTime, s.update_time as updateTime,s.price
  </sql>

  <sql id="where_Column" >
    <where>
      s.state !=3
    <if test="tbScenic != null  and tbScenic.scenicName !=null and tbScenic.scenicName != ''">
        AND s.scenic_name LIKE '%${tbScenic.scenicName}%'
      </if>
      <if test="tbScenic != null and tbScenic.state != null and tbScenic.state != 0  ">
        AND s.state = #{tbScenic.state}
      </if>
    </where>
  </sql>


  <!--按条件查询景点的总记录数-->
  <select id="countScenic" parameterType="com.tp.trip.pojo.po.TbScenicWithBLOBs" resultType="java.lang.Integer">
    SELECT count(1) FROM tb_Scenic s
    <where>
      <if test="scenicName != null and scenicName != '' ">
        s.scenic_name like CONCAT('%',#{scenicName},'%')
      </if>
      <if test="tid != null and tid != '' ">
        and s.tid = #{tid}
      </if>
    </where>
  </select>

  <!--按条件查询所有景点-->
  <select id="listScenic" parameterType="java.util.Map" resultType="com.tp.trip.pojo.po.TbScenicWithBLOBs">
    SELECT
    <include refid="Base_Column_tour_List"/>
    ,
    <include refid="Blob_Column_List"/>
    FROM tb_scenic s
    <where>
      <if test="scenic.scenicName != null and scenic.scenicName != '' ">
        s.scenic_name like CONCAT('%',#{scenic.scenicName},'%')
      </if>
      <if test="scenic.tid != null and scenic.tid != '' ">
        and s.tid = #{scenic.tid}
      </if>
    </where>
    order by s.id
    limit #{currentPage} , #{pageSize}
  </select>

  <!--查询所有的国内景点-->
  <select id="listInners" resultType="com.tp.trip.pojo.po.TbScenicWithBLOBs">
    SELECT
    <include refid="Base_Column_tour_List"/>
    ,
    <include refid="Blob_Column_List"/>
    FROM tb_scenic s
    WHERE s.tid = 1
    limit 0,3
  </select>

  <!--查询所有的境外景点-->
  <select id="listOutters" resultType="com.tp.trip.pojo.po.TbScenicWithBLOBs">
    SELECT
    <include refid="Base_Column_tour_List"/>
    ,
    <include refid="Blob_Column_List"/>
    FROM tb_scenic s
    WHERE s.tid = 2
    limit 0,3
  </select>

  <!--查询所有的跟团景点-->
  <select id="listArounds" resultType="com.tp.trip.pojo.po.TbScenicWithBLOBs">
    SELECT
    <include refid="Base_Column_tour_List"/>
    ,
    <include refid="Blob_Column_List"/>
    FROM tb_scenic s
    WHERE s.tid = 3
    limit 0,3
  </select>


  <select id="countItemsTest" resultType="int">
    SELECT COUNT(1) FROM tb_Scenic s
  </select>

  <select id="countItems" resultType="int">
    SELECT COUNT(1) FROM tb_Scenic s
    <include refid="where_Column" />
  </select>

  <select id="listItemsByPage" resultType="com.tp.trip.pojo.vo.TbScenicCustom" >
    SELECT
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    FROM tb_scenic s LEFT JOIN tb_user u
    ON s.uid=u.id

    <include refid="where_Column" />

    <choose>
      <when test="order!=null and order.order!=null and order.sort!=null">
        <foreach collection="order.orderParam" item="item" open="Order By" separator="," close="">
          <choose>
            <when test="item eq 'createdTime desc'">
              s.created_time DESC
            </when>
            <when test="item eq 'createdTime asc'">
              s.created_time asc
            </when>
            <when test="item eq 'updateTime desc'">
              s.update_Time DESC
            </when>
            <when test="item eq 'updateTime asc'">
              s.update_Time asc
            </when>
            <otherwise>
              s.${item}
            </otherwise>
          </choose>
        </foreach>
      </when>
      <otherwise>
        ORDER by s.update_time DESC
      </otherwise>
    </choose>
    limit #{page.offset},#{page.rows}
  </select>
<select id="listScenics" resultType="com.tp.trip.pojo.po.TbScenicWithBLOBs">
  SELECT
  s.id,
  <include refid="Blob_Column_List">
  </include>  FROM tb_scenic s
</select>
</mapper>